/* =========================
   HERO
========================= */
.hero {
  position: relative;
  min-height: calc(100vh - 13.4vh);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.18)),
    linear-gradient(to top, rgba(125, 10, 10, 0.38), transparent 35%);
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 720px;
}

.hero-text {
  max-width: 540px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 90px;
}

.hero-text h1 {
  font-size: 3.5rem;
  line-height: 1.05;
  color: #fff;
  font-family: Georgia, "Times New Roman", serif;
  padding-top: 6.5rem;
  margin-bottom: 20px;
}

.hero-text p {
  color: #f2f2f2;
  font-size: 1.75rem;
}

.hero-features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: auto;
  padding-bottom: 40px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(8px);
  border-radius: 14px;
  padding: 22px 18px;
  min-height: 110px;
  color: #fff;

  transition: all 0.3s ease;
}

.feature-icon {
  font-size: 1.5rem;
  margin-bottom: 14px;
}

.card-text {
  font-size: 1.4rem;
  line-height: 1.4;
  font-weight: 500;
}

.feature-card:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.2);
  scale: 1.01;
  border-radius: 5px;
}

/* =========================
   PROGRAMS
========================= */
.program-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.program-card {
  position: relative;
  aspect-ratio: 631 / 305;
  min-height: 0;
  border-radius: 16px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.program-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.78),
    rgba(0, 0, 0, 0.24)
  );
}

.program-content {
  position: relative;
  z-index: 2;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Lo mantiene abajo */
  padding: 40px; /* Un padding uniforme y más grande en todos los lados */
}

.program-content h3 {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 8px;
}

.program-content p {
  color: #dddddd;
  margin-bottom: 14px;
  font-size: 0.92rem;
  max-width: 260px;
}

.program-content .btn {
  align-self: flex-start;
  width: fit-content;
}
